.plus {
  --plus-thickness: 2px;
  --plus-size: #{$fs-normal};
  --plus-padding: 0px;
  flex: 0 0 auto;
  display: inline-block;
  width: calc(var(--plus-size) + var(--plus-padding));
  height: calc(var(--plus-size) + var(--plus-padding));
  position: relative;
  transition: transform $s-normal ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: currentColor;
  }

  // Horizontal
  &::before {
    width: calc(100% - var(--plus-padding) * 2);
    height: var(--plus-thickness);
    top: calc(50% - var(--plus-thickness) / 2);
    left: var(--plus-padding);
    right: var(--plus-padding);
  }

  // Vertical
  &::after {
    width: var(--plus-thickness);
    height: calc(100% - var(--plus-padding) * 2);
    left: calc(50% - var(--plus-thickness) / 2);
    top: var(--plus-padding);
    bottom: var(--plus-padding);
  }

  &.clickable {
    &::before,
    &::after {
      box-shadow: 0 0 8px transparent;
      transition: box-shadow $s-normal ease,
                  background-color $s-normal ease;
    }

    &:hover {
      &::before,
      &::after {
        box-shadow: 0 0 14px $white;
      }
    }
  }

  &.added {
    transform: rotate(45deg);

    &::before,
    &::after {
      background-color: $green;
    }
  }

  &.in-body-text {
    --plus-size: 1em;
    vertical-align: middle;
    margin: 0 0.5ch;
    top: -1px;
  }
}