.spotify-playlist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: $gutter 0;

  .left {
    flex: 0 0 auto;
    width: $left-width;
    
    .cover {
      display: block;
      width: 300px;
      height: 300px;
      object-fit: contain;
      margin-left: auto;
      margin-right: $gutter;
    }
  }

  .right {
    flex: 1 1 auto;

    .playlist-title {
      &::before {
        content: "Playlist";
        display: block;
        text-transform: uppercase;
        font-size: $fs-mini;
        margin-bottom: 2px;
      }
    }

    .playlist-owner {
      margin-top: 0.5em;
    }
  }
}