.spotify-track {
  &:first-child {
    th {
      &::before {
        content: "";
        position: absolute;
        top: -100%;
        bottom: 100%;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
      }
    }
  }

  &:last-child {
    td:first-of-type {
      border-bottom-left-radius: $border-radius-small;
    }

    td:last-of-type {
      border-bottom-right-radius: $border-radius-small;
    }
  }

  .left {
    width: $left-width + $app-padding-x;
    padding: $gutter/2 $gutter $gutter/2 $app-padding-x;
    display: flex;
    position: sticky;
    left: 0;
    align-items: center;
    justify-content: stretch;
    text-align: left;
    background-color: $black;
    z-index: 150;

    .cover {
      flex: 0 0 auto;
      display: block;
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    .song {
      flex: 1 1 auto;
      padding: 0 20px;

      .title,
      .artists {
        margin: 0;
        font-size: $fs-normal;
      }

      .artists {
        margin-top: 0.25em;
        font-weight: 300;
      }
    }

    .plus {
      flex: 0 0 auto;
      --size: #{$fs-normal + 4px};
      --padding: 4px;
    }

    &.clickable {
      transition: opacity 0.3s ease,
                  background-color 0.3s ease;

      // Play button
      .icon-play,
      .icon-pause {
        $size: 1.15em;
        display: block;
        position: absolute;
        left: calc(#{$app-padding-x} / 2 - #{$size} / 2);
        top: calc(50% - #{$size} / 2);
        width: $size;
        height: $size;
      }

      .icon-play,
      .icon-pause {
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &.playing-preview {
        background-color: $green;

        .icon-play,
        .icon-pause {
          opacity: 1;
        }

        .plus.added {
          &::before,
          &::after {
            background-color: $white;
          }
        }
      }

      &:not(.playing-preview):hover {
        .icon-play,
        .icon-pause {
          opacity: 0.3;
        }
      }
    }
  }

  td {
    background-color: $grey-middle;
    padding: 0 15px;
    text-align: center;

    &:hover {
      background-color: lighten($grey-middle, 1);
    }
  }
}