.toolbar {
  display: flex;
  flex: 0 0 auto;
  width: calc(100% + #{$app-padding-x * 2});
  position: sticky;
  top: 0;
  z-index: 300;
  margin: 0 #{-1 * $app-padding-x};
  padding: $toolbar-padding-y $app-padding-x;
  background-color: $black;
}