.toolbar-collection {
  --foldout-color: #{$grey-middle};
  flex: 0 0 auto;
  display: flex;
  margin-left: auto;
  position: relative;

  // REVIEW: Review sizing of popout and overflowing. When setting overflow-y to auto, the triangle disappears
  .collection-contents {
    position: absolute;
    top: calc(100% + #{$toolbar-padding-y});
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 60px;
    padding: 30px 60px;
    width: 1200px;
    max-width: calc(100vw - 2 * #{$app-padding-x});
    max-height: calc(100vh - #{$toolbar-height});
    // overflow-y: auto;
    z-index: 200;
    background-color: var(--foldout-color);
    border-radius: $border-radius-mini;
    box-shadow: 0 0 30px rgba(black, 0.3);
    transition: opacity 0.3s ease,
                visibility 0.3s ease;

    &:not(.visible) {
      visibility: hidden;
      opacity: 0;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    // Triangle
    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: 20px;
      width: 0;
      height: 0;
      opacity: 1;
      border: 10px solid transparent;
      border-bottom-color: var(--foldout-color);
      pointer-events: none;
      z-index: 10;
    }

    .left,
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .plus {
      --size: 1em;
      vertical-align: middle;
      margin: 0 0.5ch;
      transform: translateY(-1px)
    }

    .search-button-wrapper {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      > * {
        flex: 0 0 auto;
      }
    }

    .error {
      margin: 0 14px;
    }
  }
}