.input-for-search {
  --button-width: 300px;
  --foldout-color: #{$grey-middle};
  flex: 0 0 auto;
  display: flex;
  width: var(--button-width);
  margin-left: auto;
  position: relative;

  .input {
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    padding: 30px 60px;
    width: 500px;
    z-index: 200;
    background-color: var(--foldout-color);
    border-radius: $border-radius-mini;
    box-shadow: 0 0 30px rgba(black, 0.3);
    transition: opacity 0.3s ease,
                visibility 0.3s ease;

    &:not(.visible) {
      visibility: hidden;
      opacity: 0;
    }

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      right: calc(var(--button-width) / 2);
      width: 0;
      height: 0;
      opacity: 1;
      border: 10px solid transparent;
      border-bottom-color: var(--foldout-color);
      pointer-events: none;
      z-index: 10;
    }

    .plus {
      --size: 1em;
      vertical-align: middle;
      margin: 0 0.5ch;
      transform: translateY(-1px)
    }
  }
}