@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light-hbr.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-light-hbr.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-book.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-book-hbr.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-book-hbr.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-medium.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-medium-hbr.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-medium-hbr.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-bold.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-bold-hbr.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-bold-hbr.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Circular-hbr;
  src: url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black-hbr.woff2') format('woff2'), url('https://sp-bootstrap.global.ssl.fastly.net/8.12.1/fonts/circular-black-hbr.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

body {
  background-color: $black;
  color: $white;
  font-size: $fs-normal;
  font-family: Circular, Helvetica, Arial, sans-serif;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 1px;
  line-height: 1.5;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p {
  &:first-child {
    margin-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: $fs-largest;
  margin-bottom: 0;
}

h2 {
  font-size: $fs-larger;
  margin-bottom: 0;
}

%letter-spaced {
  letter-spacing: 2px;
  text-transform: uppercase;
}

button {
  appearance: none;
  border: none;
  outline: none;
  padding: $button-padding-y $button-padding-x;
  flex: 0 0 auto;
  background-color: $green;
  border-radius: $border-radius;
  color: $white;
  font-weight: bold;
  line-height: 1;
  @extend %letter-spaced;
  white-space: normal;
  cursor: pointer;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;

  &:not(.small) {
    font-size: $fs-normal;
  }

  &.small {
    font-size: $fs-small;
    min-width: 160px;
  }

  &.round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: $button-padding-y;
  }

  &:not(.secondary) {
    &:hover,
    &:focus {
      background-color: #1ed760;
    }

    &:active,
    &.active {
      &,
      &:hover,
      &:focus {
        background-color: #1aa34a;
      }
    }

    &[disabled] {
      background-color: $grey-lighter;
    }
  }

  &.secondary {
    color: $grey-lightest;
    box-shadow: 0 0 0 2px $grey-lightest inset;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: $grey-lightest;
      color: $black;
    }

    &:active,
    &.active {
      &,
      &:hover,
      &:focus {
        background-color: $grey-light;
        box-shadow: 0 0 0 2px $grey-light inset;
      }
    }
  }
}

a {
  color: inherit;
}

input[type="search"] {
  appearance: none;
  border: none;
  outline: none;
  font-size: $fs-medium;
  padding: 16px 32px;
  font-weight: 700;
  flex: 1 1 auto;
  width: auto;
  background-color: $white;
  color: $grey-middle;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;

  + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

table {
  border-collapse: collapse;
}

tr, th, td {
  border: none;
}

small {
  font-size: $fs-small;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid $grey-light;
  margin: $gutter 0;
}

details {
  summary {
    cursor: pointer;

    // h2 {
    //   display: inline-block;
    // }
  }
}