#app {
  position: relative;
  padding: $app-padding-y $app-padding-x 0;
  z-index: 999;

  &.drag-over {
    &::before {
      content: "Drop here to search";
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      font-weight: 700;
      font-size: $fs-large;
      z-index: 1000;
    }
  }
}

.search-panel {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.results-panel {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  margin: 0;
  padding: $gutter 0;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .warning {
    margin: 4em 0;
    padding-left: $left-width;
  }
}

.subscript {
  margin-top: auto;
  margin-bottom: 40px;
}