$app-padding-x: 100px;
$app-padding-y: 50px;

$left-width: 400px;
$gutter: 50px;

$audio-feature-column-width: 200px;

$green: #1DB954;
$white: #FFFFFF;
$black: #141414;
$grey-dark: #1f1f1f;
$grey-middle: #222222;

$fs-mini: 13px;
$fs-small: 14px;
$fs-normal: 16px;
$fs-medium: 20px;
$fs-large: 30px;
$fs-larger: 42px;
$fs-largest: 54px;

$border-radius: 500px;
$border-radius-small: 23px;
$border-radius-mini: 6px;