// COLORS
$green: #1DB954;
$green-dark: #179744;
$white: #FFFFFF;
$black: #141414;
$grey-darker: #181818;
$grey-dark: #1f1f1f;
$grey-middle: #222326;
$grey-light: #494949;
$grey-lighter: #aeb1b6;
$grey-lightest: #c4c7ca;

// FONT-SIZES
$fs-mini: 11px;
$fs-small: 12px;
$fs-normal: 14px;
$fs-medium: 18px;
$fs-large: 24px;
$fs-larger: 36px;
$fs-largest: 54px;

// BORDER-RADII
$border-radius: 500px;
$border-radius-small: 23px;
$border-radius-mini: 6px;

// DISTANCES
$app-padding-x: 75px;
$app-padding-y: 50px;

$left-width: 400px;
$gutter: 50px;
$gutter-small: 30px;
$gutter-mini: 10px;

$button-padding-y: 14px;
$button-padding-x: 44px;

$topbar-padding-y: 15px;
// $topbar-height: $topbar-padding-y + $button-padding-y + $fs-small + $button-padding-y + $topbar-padding-y; // logic for old layout
$topbar-height: 93px; // TODO: HARDCODED FOR NOW, CALCULATE SOMEHOW OR SET CSS VAR WITH JS

// SPEEDS
$s-normal: 0.3s;
$s-slow: 0.7s;

@mixin glow {
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 10px #fff);
}